{# templates/registration/register.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    <div style="display:flex;justify-content: center;align-items:center;height:800px;">
        <div>
        <p style="text-align:center;">{{modifier}}</p>
        <br/>
        <h1 style="text-align:center;">Informations</h1>
        <br/>
        {{ form_row(form.userName) }}
        <br/>
        {{ form_row(form.email) }}
        <br/>
        {# {% if app.user %}
        <p class="btn btn-primary" id="mdp">Changer de mot de passe</p>
        <div id="divmdp" style="display:none;">
        {% endif %}
            {{ form_row(form.password.first) }}
            <br/>
            {{ form_row(form.password.second) }}
            <br/>
         {% if app.user %}
        </div>
        {% endif %} #}
            <div style="display:flex;justify-content: center;">
                <button style="width: 150px;margin:0 auto;" class="btn btn-lg btn-primary" type="submit">Update</button>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}