{% extends 'base.html.twig' %}

{% block title %}Colonne index{% endblock %}

{% block body %}
    <h1>Colonne index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Position</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for colonne in colonnes %}
            <tr>
                <td>{{ colonne.id }}</td>
                <td>{{ colonne.name }}</td>
                <td>{{ colonne.position }}</td>
                <td>
                    <a href="{{ path('app_colonne_show', {'id': colonne.id}) }}">show</a>
                    <a href="{{ path('app_colonne_edit', {'id': colonne.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_colonne_new') }}">Create new</a>
{% endblock %}
